<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="HealthyCare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="LangBam4.0"
    connectionString="Server=tcp:huynhbao-db.database.windows.net,1433;Initial Catalog=HealthyCare;Persist Security Info=False;User ID=admin-ne;Password=lay8diem.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
		<add name="SignalRURL" connectionString="http://52.139.216.159:8080/signalr"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HealthyCare.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="checkbox" serializeAs="String">
                <value>False</value>
            </setting>
        </HealthyCare.Properties.Settings>
    </userSettings>
</configuration>